.blur-contacts{
position: relative;
width: 102%;
height: 100%;
margin-left: -11px;
padding-right: 30px;
}

.blur-contacts .blur{
    background-image: url('../images/title_bg.jpg');
    background-size: cover;
    background-position: center;
    background-color: #5f5592f5;
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(4px);
    z-index: -1;
    background-blend-mode:overlay;

}
.blur-contacts .content {
    margin-left: 10px;
    padding-top: 80px;
    padding-bottom: 60px;
}
.blur-contacts .content h1{
	font-family: 'Merriweather', serif;
    color: #fff;
    font-size: 2.889em;
    line-height: 1.11em;
}
.blur-contacts .italic-p {
    color: #fff;
    font-family: 'Parisienne', cursive;	
    font-size: 1.4em;
    line-height: 1.25em;
}
.blur-contacts .italic-p a,.blur-contacts .content .letters{
    padding: 0 2px;
    color: #fff;
}
.blur-contacts .italic-p a:hover{
    color: #f6b6cc;
    text-decoration: none;
}
.blur-contacts .italic-p .symbol{
    margin: 0 .5em;
}
.find-us{
    padding-top: 80px;
    padding-bottom: 95px;
    width: 670px;
}
.map{
    position: relative;
    left: 15px;
}
.heartsection i{
    color: #f6b6cc;
    font-size: 3.3em;
    line-height: 1;
    margin-bottom: .17em;
    display: inline-block;
}
.heartsection h2{
    color: #1b1726;
    font-size: 2.889em;
    font-family: 'Merriweather', serif;
    margin-top: 20px;
    margin-left: 12px;
    margin-bottom: 5px;
    line-height: 1.12em;

}
.heartsection span{
    color: #f6b6cc;
    font-size: 1.667em;
    font-family: 'Parisienne', cursive; 
}
.contact-symbols{
    margin-top: 55px;
}
.contact-symbols i{
    font-size: 2.7rem;
    line-height: 1.1em;
    color: #c2cd4a;
}
.contact-symbols .head{
    margin-left: -30px;
    color: #1b1726;
    margin-top: .7em;
    font-size: 1.556em;
    line-height: 1.2em;
}

.contact-symbols p{
    color: #1b1726;
    margin-top: 5px;
    margin-left: -42px;
    font-size: .9em;
    font-family: 'Merriweather', serif;
}
.contact-symbols .address{
    width: 270px;
    margin-left: 85px;

}
.contact-symbols .email{
    margin-left: -85px;
    width: 20px;
}
.contact-symbols .email .head{
    margin-left: -10px;
}
.contact-symbols .email a{
    color: #1b1726;
}
.contact-symbols .email a:hover{
    color: #f6b6cc;
    text-decoration: none;
}
.contact-symbols .sameday{
    padding-left: 75px;
}

.contact-symbols .sameday p{
    width: 193px;
}
.sameday span{
    display: block;
}
.pre-form{
    padding-top: 85px;
}

.pre-form i{
    color: #8d7acb;
    font-size: 3.3em;
    line-height: 1;
    margin-bottom: .17em;
    margin-left: -25px;
}
.pre-form h3{
    padding-top: 10px;
    font-size: 2.889em;
    color: #1b1726;
    line-height: 1.2em;
   font-family: 'Noto Serif', serif;
}
.pre-form p{
    color: #8d7acb;
    margin-top: .36em;
    font-size: 1.667em;
    line-height: 1.5em;
    font-family: 'Parisienne', cursive; 
}
.contact-form {
    font-family: 'Noto Serif', serif;
    text-align: center;
    padding-bottom: 65px;

}
.contact-form .contact-name, .contact-form .contact-email, .contact-form .contact-message{
    color: #878491;
    background-color: #fcf9f7;
    font-size: 14px;
    padding: 1.108em 1.85em .822em;
    border-radius: 30px;
    outline: transparent;
    border: 1px solid #adb5bd30;

}

.contact-form .contact-name, .contact-form .contact-email{
    width: 330px;
    padding-top: 14px;
    padding-bottom: 14px;
     margin-top: 15px;


}
.contact-form .contact-message{
    width: 345px;
    padding-bottom: 60px;
    margin-top: 15px;
}
.contact-form .checkdiv{
    display: inline-block;
    margin: 1.5em 0;
}
.contact-form .checkdiv label{ 
    color: #66646e; 
}
.contact-form #msgcheckbox{
    color: #8d7acb;
    width: 1.112em;
}
.contact-form .submitMsg
{
    font-family: 'Open Sans', sans-serif;
    padding: 1.646em 5.3em 1.446em;
    text-align: center;
    color: #fff;
    background-color: #8d7acb;
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 2.3px;
    border-radius: 50px;
    border: transparent;
    padding-bottom: 23px;
    padding-top: 23px;
    outline: transparent;
}
.contact-form .submitMsg:hover{
    color: #fff;
    background-color: #f6b6cc;
}
.contact-form .submitMsg:disabled,.contact-form .submitMsg:disabled:hover{
  border: transparent;
  background-color: #878491;
  color: #666666;
}
.success {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.error {
  padding: 1em;
  margin-bottom: 0.75rem;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: #b94a48;
  background-color: #f2dede;
  border: 1px solid rgba(185, 74, 72, 0.3);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}