.reset-div{
	margin-top: 80px;
    margin-left: 90px;
    margin-bottom: 90px;
}
.reset-div p{
    margin-bottom: 1.1em;
    font-family: 'Roboto Slab', serif;
}
.reset-div label{
	display: block;
}
#reset-form{
    font-family: 'Roboto Slab', serif;
}
.reset-div #reset-field{
    padding: 1.008em 1.85em .922em;
    line-height: 1.3em;
    width: 525px;
    border: transparent;    
    display: block;
    border-radius: 50px;
    outline: transparent;
    background-color: #fff;
}
.reset-div #reset{
    color: #fff;
    outline: transparent;
    border: transparent;
    margin-top: 15px;
    margin-left: 10px;
    background-color: #8d7acb;
    font-size: 11px;
    font-weight: 700;
    line-height: 1.5em;
    text-decoration: none;
    padding: 1.1833em 2.1667em .9833em;
    letter-spacing: 1.3px;
    border-radius: 50px;
    display: block;
}
.reset-div #reset:hover{
    background-color: #f6b6cc;
}